.result {
    display: flex;
    gap: 3rem;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playground {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 1rem;
}
